studio-workspace/getflightdetails/src/main/mule/WT-4.6Practse.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="425b03b5-c94b-4ad0-8673-f8804306178b" >
		<http:listener-connection host="0.0.0.0" port="8087" />
	</http:listener-config>
	<flow name="getflightdetailsFlowWithoutTransform" doc:id="f85ee6a7-d879-4e9a-b9c2-deac6555d7db" >
		<http:listener doc:name="Copy_of_Listener" doc:id="74545318-a47e-4351-814a-8a22017f2513" config-ref="HTTP_Listener_config" path="/getFlights" >
			<http:response >
				<http:body ><![CDATA[#[%dw 2.0
output application/json
---
payload]]]></http:body>
			</http:response>
		</http:listener>
		<db:select doc:name="Copy_of_Select" doc:id="8ab8a089-ea4c-4d8e-aac2-204f0012590c" config-ref="Database_Config" >
			<db:sql >select * from american</db:sql>
		</db:select>
	</flow>
</mule>
