studio-workspace1/firstapp/src/main/mule/firstapp.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="f9683446-fe46-4eba-8fae-135f2b461b1f" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="firstappFlow" doc:id="5af03fd2-7e30-42e2-ba64-9b8762ceb14d" >
		<http:listener doc:name="Listener" doc:id="ed8aed9f-c996-44b9-a724-8077b2dc6a24" config-ref="HTTP_Listener_config" path="/hello" outputMimeType="text/plain"/>
		<set-payload value="#['Hi Srishti!' ++ payload]" doc:name="Set Payload" doc:id="802e5407-ff5a-4d8e-9f29-fd3cd4fd7c69" />
	</flow>
</mule>
