studio-workspace/wt4-5/src/main/mule/implementation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<db:config name="Database_Config" doc:name="Database Config" doc:id="795230dc-5412-49d0-9ac0-41c196e91c0b" >
		<db:my-sql-connection host="mudb.learn.mulesoft.com" port="3306" user="mule" password="mule" database="training" />
	</db:config>
	<flow name="getAllflights" doc:id="ec1357f4-d0df-4e8f-a296-149df1169fe8" >
		<db:select doc:name="Select" doc:id="454f6f85-e96f-4df1-b1f4-594ad3616f05" config-ref="Database_Config">
			<db:sql >select * from american</db:sql>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="6f6ce72d-9a18-4ea3-84cc-ba4972d8718d" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload map ( payload01 , indexOfPayload01 ) -> {
	ID: payload01.ID default 0,
	code: (payload01.code1 default "") ++ (payload01.code2 default ""),
	price: payload01.price default 0,
	departureDate: payload01.takeOffDate as String default "",
	origin: payload01.toAirport default "",
	destination: payload01.fromAirport default "",
	emptySeats: payload01.seatsAvailable default 0,
	plane: {
		"type": (payload01.planeType default "") ++ (payload01.airlineName default ""),
		totalSeats: payload01.totalSeats default 0
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="getflightsByID" doc:id="1b0cd24e-e4b7-431f-95bb-d0fc87919bc4" >
		<db:select doc:name="Copy_of_Select" doc:id="b5331add-e492-4d32-976b-a985885ca71e" config-ref="Database_Config" >
			<db:sql >select * from american where ID = :ID</db:sql>
			<db:input-parameters ><![CDATA[#[{'ID': attributes.uriParams.ID}]]]></db:input-parameters>
		</db:select>
		<ee:transform doc:name="Copy_of_Transform Message" doc:id="c7b7738f-7b18-4831-9d80-ea5adfb6f992" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload map ( payload01 , indexOfPayload01 ) -> {
	ID: payload01.ID default 0,
	code: (payload01.code1 default "") ++ (payload01.code2 default ""),
	price: payload01.price default 0,
	departureDate: payload01.takeOffDate as String default "",
	origin: payload01.toAirport default "",
	destination: payload01.fromAirport default "",
	emptySeats: payload01.seatsAvailable default 0,
	plane: {
		"type": (payload01.planeType default "") ++ (payload01.airlineName default ""),
		totalSeats: payload01.totalSeats default 0
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
