studio-workspace/fileconnector_demo/src/main/mule/fileconnector_demo.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd">
	<file:config name="File_Config" doc:name="File Config" doc:id="1a5a8d83-8762-432c-b00a-754532cfbaad" >
		<file:connection workingDir="C:\Users\Training\AnypointStudio\studio-workspace\fileconnector_demo\src\main\resources" />
	</file:config>
	<flow name="fileconnector_demoFlow" doc:id="a317683e-e157-4847-83f8-d0fdf7c55c54" >
		<file:listener doc:name="On New or Updated File" doc:id="2b6c588c-7c55-4d0c-8298-0de6056a6c6c" config-ref="File_Config" watermarkMode="MODIFIED_TIMESTAMP" moveToDirectory="output" directory="input" renameTo='#[attributes.fileName ++ ".backup"]'>
			<scheduling-strategy >
				<fixed-frequency />
			</scheduling-strategy>
			<file:matcher filenamePattern="*.csv" />
		</file:listener>
		<logger level="INFO" doc:name="Logger" doc:id="795fa141-6350-45b3-8d97-1aa1936badc6" message="#[payload]"/>
	</flow>
</mule>
