studio-workspace/restfulapi/src/main/mule/WT4-6.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config9" doc:name="HTTP Listener config" doc:id="eaa71e6f-ba92-4dce-a005-93c19630d67f" >
		<http:listener-connection host="0.0.0.0" port="8089" />
	</http:listener-config>
	<flow name="GetFlightsByIDImplementation" doc:id="69c2794f-06f6-46c8-bf71-48cbc9fb0caf" >
		<http:listener doc:name="Listener" doc:id="91ecac9d-78da-42ee-887a-933cf68f96de" config-ref="HTTP_Listener_config9" path="/flights/{ID}" allowedMethods="GET" >
			<http:response >
				<http:body ><![CDATA[#[%dw 2.0
output application/json
---
payload]]]></http:body>
			</http:response>
		</http:listener>
		<db:select doc:name="Copy_of_Copy_of_Select" doc:id="abc326b4-2716-4493-90b5-0a8588e3cd6f" config-ref="Database_Config" >
			<db:sql >SELECT *

FROM american

WHERE ID = :ID</db:sql>
			<db:input-parameters ><![CDATA[#[{'ID' : attributes.uriParams.ID}]]]></db:input-parameters>
		</db:select>
	</flow>
</mule>
