studio-workspace/demo/src/main/mule/demo.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="c9a3e5b2-d3df-44f3-b755-d606868bf3ac" >
		<http:listener-connection host="0.0.0.0" port="8082" />
	</http:listener-config>
	<db:config name="Database_Config" doc:name="Database Config" doc:id="e1892ba0-35cc-4b7f-a4d3-eb6aae139439" >
		<db:my-sql-connection host="mudb.learn.mulesoft.com" port="3306" user="mule" password="mule" database="training" />
	</db:config>
	<flow name="demoFlow" doc:id="8c86a0df-2dba-4566-bd10-997189998ac1" >
		<http:listener doc:name="Listener" doc:id="2d927ba4-c9f1-4662-bb5b-f41393c68a40" config-ref="HTTP_Listener_config" path="/flights" allowedMethods="GET">
			<non-repeatable-stream />
		</http:listener>
		<db:select doc:name="Select" doc:id="ada580d2-253c-44f7-a87e-01dea9a8b9f2" config-ref="Database_Config">
			<db:sql >select * from american</db:sql>
		</db:select>
		<set-payload value="#[output application/json
---
payload]" doc:name="Set Payload" doc:id="d79aed77-286f-4242-9ae0-ba6c67a50e90" />
		<ee:transform doc:name="Transform Message" doc:id="c2b521e7-7314-4b71-b722-8bb275fb5788" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload map ( payload01 , indexOfPayload01 ) -> {
	ID: (payload01.ID default 0) + payload01.ID,
	code1: (payload01.code1 default "") ++ payload01.code1,
	airlineName: payload01.airlineName,
	toAirport: payload01.toAirport,
	fromAirport: payload01.fromAirport,
	takeOffDate: payload01.takeOffDate,
	price: payload01.price,
	planeType: (payload01.planeTypedefault "") 
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
