studio-workspace1/01-databaseendpoint-start/src/main/mule/01-databaseendpoint-start.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="22f6f994-b9b5-41b4-8942-3b7da6119642" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<db:config name="Database_Config" doc:name="Database Config" doc:id="497bc479-c736-46dc-890e-a54383e7a569" >
		<db:my-sql-connection host="localhost" port="3306" user="root" password="root" database="muletrainingdb" />
	</db:config>
	<flow name="01-databaseendpoint-startFlow" doc:id="fe9bf903-dd85-403b-9374-d48e4ea198da" >
		<http:listener doc:name="Listener" doc:id="9bd2de10-88c6-4c8a-8f9f-1974c1cc853a" config-ref="HTTP_Listener_config" path="/db"/>
		<db:select doc:name="Select" doc:id="6ef8221f-6b9b-4e06-b699-51726b25c257" config-ref="Database_Config">
			<db:sql >select * from product where brand_name=:brandname</db:sql>
			<db:input-parameters ><![CDATA[#[%dw 2.0
output application/java
---
{
	brandname: attributes.queryParams.brandName as String
}]]]></db:input-parameters>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="f7850600-8046-4e6b-ba32-e4b8ba556d0f" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
